.Input {
  margin: 0 auto;
  padding: 8px;
  max-width: 600px;
}

.Input-header {
  display: flex;
  flex-flow: row;
}

.Input-header h1 {
  margin-right: auto;
}

.Input > section {
  margin: 36px 0;
}

.Input-row {
  margin: 8px 0;
  display: flex;
  flex-flow: row;
  align-items: baseline;
}

.Input-row--guttered {
  margin-left: -8px;
  margin-right: -8px;
}

.Input-row--guttered .Input-rowItem {
  margin-left: 8px;
  margin-right: 8px;
}

.Input-rowItem {
  flex: 1;
}

.Input-birthday input {
  text-align: center;
}

.Input-birthdayItem {
  margin: 0 8px;
}

.Input-userIdRow {
  margin-top: 0;
}

.Input-userId {
  margin-right: 8px;
}

.Input-pinRow {
  animation: fade-in .35s;
}

.Input-pinRow em {
  text-decoration: underline;
}

.Input-pin {
  color: rgb(255, 64, 129);
  padding: 0 0.5em;
}

.Page {
  position: relative;
}

.Page-table {
  width: 100%;
}

.Page-table thead th {
  background: rgb(191,230,1);
  color: rgba(0,0,0,.56);
}

.Page-printTime {
  text-align: right;
  font-size: 13px;
  color: rgba(0,0,0,.56);
}

.Page-table th,
.Page-table td {
  padding: 0.5em;
  border-bottom: 1px dotted rgba(0,0,0,.56);
}

.Page-table th {
  background: #f7f7f7;
}

.Input-userIdNote, .Page-tableNote {
  margin: 0;
  font-size: 12px;
  color: rgba(0,0,0,.56);
}

.App-nav {
  display: none;
  overflow: auto;
}

.App-back {
  float: left;
}

.App-print {
  float: right;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  color: rgba(0,0,0,.56);
  margin-top: 44px;
}

.App-footer p {
  margin: 8px 0;
}

@media screen {
  .App-nav {
    display: block;
  }

  .App--page {
    padding: 48px;
    background: #333;
  }

  .Page {
    background: #fff;
    padding: 48px;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
