label {
  display: block;
}

.Input {
  margin: 0 auto;
  max-width: 800px;
}

.Input-row {
  margin: 1em 0;
  display: flex;
  flex-flow: row;
  align-items: baseline;
}

.Input-row--guttered {
  margin-left: -8px;
  margin-right: -8px;
}

.Input-row--guttered .Input-rowItem {
  margin-left: 8px;
  margin-right: 8px;
}

.Input-rowItem {
  flex: 1;
}

.Input-birthday input {
  text-align: center;
}

.Input-birthdayItem {
  margin: 0 0.5em;
}

.Page {
  position: relative;
}

.Page-table {
  width: 100%;
}

.Page-table thead th {
  background: rgb(191,230,1);
  color: rgba(0,0,0,.56);
}

.Page-printTime {
  text-align: right;
  font-size: 13px;
  color: rgba(0,0,0,.56);
}

.Page-table th,
.Page-table td {
  padding: 0.5em;
  border-bottom: 1px dotted rgba(0,0,0,.56);
}

.Page-table th {
  background: #f7f7f7;
}

.Page-tableNote {
  margin: 0;
  font-size: 12px;
}

.App-nav {
  display: none;
  overflow: auto;
}

.App-back {
  float: left;
}

.App-print {
  float: right;
}

@media screen {
  .App-nav {
    display: block;
  }

  .App--page {
    padding: 48px;
    background: #333;
  }

  .Page {
    background: #fff;
    padding: 48px;
  }
}